:root {
    --starButton_color: var(--primary);
    --starButton_bg: #181818;
    --starButton_shadow: var(--primary);
}

.starButton {
    position: relative;
    padding: 12px 35px;
    background: var(--starButton_color);
    font-size: 17px;
    font-weight: 500;
    border: 4px solid var(--starButton_color);
    border-radius: 8px;
    box-shadow: 0 0 0 var(--starButton_shadow);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: green;
}

.starButton .starButton_star1 {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.starButton .starButton_star2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.5s cubic-bezier(1, 1, 1, 1);
}

.starButton .starButton_star3 {
    position: absolute;
    top: 0%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.7s cubic-bezier(0, 1, 0, 0);
}

.starButton .starButton_star4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.5s cubic-bezier(0, 1, 1, 1);
}

.starButton .starButton_star5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.4s cubic-bezier(1, 1, 1, 1);
}

.starButton .starButton_star6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 var(--starButton_color));
    z-index: -5;
    transition: all 0.3s cubic-bezier(1, 1, 1, 1);
}

.starButton:hover {
    background: transparent;
    box-shadow: 0 0 25px var(--starButton_shadow);
}

.starButton:hover .starButton_star1 {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton:hover .starButton_star2 {
    position: absolute;
    top: -50%;
    left: 0%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton:hover .starButton_star3 {
    position: absolute;
    top: 125%;
    left: 20%;
    width: 10px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton:hover .starButton_star4 {
    position: absolute;
    top: -50%;
    left: 100%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton:hover .starButton_star5 {
    position: absolute;
    top: -70%;
    left: -30%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton:hover .starButton_star6 {
    position: absolute;
    top: 40%;
    left: 130%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--starButton_color));
    z-index: 2;
}

.starButton .star_fill {
    fill: var(--primary);
}